*{
	box-sizing: border-box;
}
body{
	
	margin:0px;
}

#site-title{
	color:white;
	display:inline;
	float:left;
	padding-right:300px;
	padding-left:30px;
}

.navbar{
	background-color:green;
	font-family: 'Lato', sans-serif;
	overflow:hidden;

}

.navbar a{
	float:left;
	color:white;
	text-decoration:none;
	padding: 28px 16px;
	font-size:16px;
	text-align:center;

}

#title{
	font-weight: 900;
}

.dropdown{
	float:left;
	overflow:hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 28px 30px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #1F6521;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1F6521;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 30px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f9889e;
}

.dropdown:hover .dropdown-content {
    display: block;
}



#jumbotron{
	/*position:absolute;*/
}

img#jumbotron-image{
	height:500px;
	width:100%;
}

#section-one,#section-two,#section-three,#section-four{
	float:left;
	width:25%;

}

div#section-header{
	color:#53900F;
	text-align:center;
	padding-top: 10px;
	/*background-color: #EDF5E1;*/
}


#sub-footer{
	background-color: #EDF531;
}

img.social-media{
	width:32px;
	height:32px;
}

#footer{
	background-color:#420052;
	color:white;
	padding:10px;
	/*clear:left;*/
	text-align: center;
}


